body {
  margin: 2px;
  padding: 0;
  font-family: sans-serif;
  background-color: #FAFAE6;
}
h3 {
  font-size: 32px;
  color: #B8C733;
}
label {
  display: block;
}
.numberField{
  width: 30px;
  margin: 10px 15px 10px 5px;
}
label, button {
  padding: 5px 10px;
}
button {
  margin-bottom: 15px;
}
.builderForm {
  display: flex;
  justify-content: space-around;
  text-align: center;
  border: 1px solid black;
  margin: auto;
  width: 30%;
}